#Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
db.sqlite3
authenticator/settings.py
keys/
uwsgi*

*.swp
*.log
logs/*

login/static/*

static/
authenticator/key.txt
db.sqlite3_bak
initial_data/users.txt
login/migrations/
node_modules/
