<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
<div id="app">
    <form action="/login/" method="POST">
    {% csrf_token %}
      <div class="formtitle">
        {% verbatim %}
            {{ msg }}
        {% endverbatim %}
      </div>
      <div id="alerts" class="errormsg">
        {% if err_msg %}
        <span>{{ err_msg }}</span>
        {% endif %}
      </div>
        <label for="username">username:</label>
        <input type="text" name="username" id="username"></input>
      <div>
      </div>
      <div>
        <label for="passphrase">passphrase:</label>
        <textarea name="passphrase" id="passphrase"></textarea>
      </div>
      <div class="button">
        <button type="submit">Login</button>
      </div>
    </form>
</div>
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app' ,
      data: {
        errors: [],
        msg: 'Login'
      },
      created: function () {
      }
    });
  </script>
</body>
</html>
